* {
  margin: 0;
}

:root {
  --black: #202024;
  --gray: #e1e1e6;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background-color: var(--black);
}

#__next {
  height: 100%;
  display: grid;
  place-items: center;
}
